<app-navbar></app-navbar><br>
<div class="container">
<table class="table  table-hover table-dark table-bordered">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
        <th scope="col" >Payment Mode</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderid}}</td>
        <td>{{totalPrice.payload | currency:'INR':'symbol-narrow'}}</td>
        <td>{{order.cartitems[0].products[0].description}}</td>
        <td>{{order.cartitems[0].products[0].stock}}</td>
        <td>{{order.paymentmode}}</td>
        <td class="btn btn-primary" (click)="deleteorder(order.orderid)">Cancel Order</td>
        <td class="btn btn-primary" (click)="gotopaymentmode(order.orderid)" style="color: aliceblue;">Set Payment Mode</td>
      </tr>
    
    </tbody>
</table>
</div>
