.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}