<app-navbar></app-navbar><br>
<div class="container">
<div class="form-area">
<form #myform="ngForm" (ngSubmit)="changePassword(oldPassword.value, newPassword.value)">
    
    <div class="form-group">
      <label style="color: red; font-weight: bold;">{{message}}</label><br>
     <label class="oldpw">Old Password</label>
     <input type="password oldpw" class="form-control"  #oldPassword name="oldpassword" placeholder="Old Password" style="width: 70%;">
    </div>  
    <div class="form-group">
        <label class="pw">New Password</label>
        <input type="password" class="form-control pw"  #newPassword name="newPassword" placeholder="New Password" style="width: 70%;">
      </div>
      <input type="submit" class="sb" value="Change Password">
</form>
</div>
</div>