<app-navbaradmin></app-navbaradmin><br><br><br>
<div class="container">
<div class="card-deck">
    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title">View All Products</h5>
        <p class="card-text">You are just a Click away to see what your store has in its stock.</p><br><br>
        <button class="btn btn-primary" routerLink="/listofproducts">All Products</button>
      </div>
    </div>
    <div class="card bg-primary">
        <div class="card-body ">
        <h5 class="card-title">Add Products</h5>
        <p class="card-text">Hey Admin, Your Customers are waiting for you to add new products on your Apparel Store!!.</p><br><br>
        <button class="btn btn-success" routerLink="/addProducts">Add Products</button>
     </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body ">
        <h5 class="card-title">Orders</h5>
        <p class="card-text">See which people have placed orders for all of your products.</p><br><br>
        <button class="btn btn-success" routerLink="/allorders">Orders</button>
      </div>
    </div>
  </div>
  </div>