
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" style="font-weight: bold;">The Apparel Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" style="font-weight: bold; cursor: pointer;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/listofproducts" style="font-weight: bold; cursor: pointer;">All Products</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/addProducts" style="font-weight: bold; cursor: pointer;">Add Products</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/allorders" style="font-weight: bold; cursor: pointer;">All Orders</a>
          </li>
      </ul>
      <fa-icon [icon]="signouticon" (click)="signout()"  style="margin-right: 20px;color: black; font-size: 35px; cursor: pointer;"></fa-icon>
    </div>
  </nav>
  

