<app-navbaradmin></app-navbaradmin><br>
<label>{{message}}</label>
<div class="container">
<div class="card-deck">
  <div class="card " *ngFor="let product of products">
    <img src="http://localhost:8080/TheApparelStore/product/image1/{{product.id}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: bold;">{{product.name}}</h5>
      <p class="card-text" style="font-weight: bold;">Price: {{product.price | currency:'INR':'symbol-narrow'}}</p>
      <p class="card-text" style="font-weight: bold;"><small class="text-muted">Stock: {{product.stock}}</small></p>
      <a  class="btn btn-primary mr-1" (click)="gotoupdatecomponent(product.id)" >Update</a>
      <a  class="btn btn-danger mr-1" (click)="deleteproduct(product.id)">Delete</a>
    </div>
  </div>
  </div>
  </div>
