<app-navbaradmin></app-navbaradmin><br>
<div class="container">
<table class="table  table-hover table-dark table-bordered">
    <thead>
      <tr>
        <th scope="col">Order Id</th>        
        <th scope="col">Email</th>
        <th scope="col">Stock</th>
        <th scope="col" style="color: aliceblue;">Payment Mode</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderid}}</td>        
        <td>{{order.email}}</td>
        <td>{{order.cartitems[0].products[0].stock}}</td>
        <td>{{order.paymentmode}}</td>
    </tr>
    
    </tbody>
</table>
</div>
